footer.bg-gray-100.py-6
  .container.mx-auto.text-center.text-sm.text-gray-600
    | © 2048 Villa Agency Co., Ltd. All rights reserved.
    | Design by
    a(
      href="https://templatemo.com",
      target="_blank",
      class="text-orange-500 hover:underline"
    ) TemplateMo
