#js-preloader.js-preloader.fixed.inset-0.bg-white.z-50.flex.items-center.justify-center
  .preloader-inner.flex.flex-col.items-center
    span.dot.w-4.h-4.bg-orange-500.rounded-full.mb-2
    .dots.flex.space-x-1
      span.w-2.h-2.bg-orange-500.rounded-full.animate-bounce
      span.w-2.h-2.bg-orange-500.rounded-full.animate-bounce
      span.w-2.h-2.bg-orange-500.rounded-full.animate-bounce
