.bg-gray-100.py-2
  .container.mx-auto.flex.flex-wrap.justify-between.items-center.text-sm.text-gray-600
    div.flex.space-x-4
      div.flex.items-center.gap-1
        i.fa.fa-envelope.text-orange-500
        | info@company.com
      div.flex.items-center.gap-1
        i.fa.fa-map.text-orange-500
        | Sunny Isles Beach, FL 33160
    div.flex.space-x-3
      each icon in socialIcons
        div
          a(href="#", class="hover:text-orange-500 transition")
            i(class="fab fa-#{icon}")
