extends layout.pug

block title
  | Contact Us – Villa Agency

block header_vars
  - var activePage = 'Contact Us'

block content
  .bg-gray-50.py-12(style="background-image:url('/assets/images/page-heading-bg.jpg');min-height:550px;background-size:cover;background-position:center;margin-bottom:400px")
    .container.mx-auto.text-center
      span.text-sm.text-gray-500
        a(href="/", class="hover:text-orange-500") Home
        |  / Contact Us
      h1.text-3xl.font-bold.mt-2.text-white Contact Us

  include /components/sections/contactSection.pug
