extends layout.pug

block title
  | Villa Agency – Real Estate Tailwind

block header_vars
  - var activePage = 'Home'

block content
  include /components/sections/mainBanner.pug
  include /components/sections/featuredSection.pug
  include /components/atoms/videoSection.pug
  include /components/atoms/funFacts.pug
  include /components/atoms/bestDeal.pug
  include /components/sections/propertiesGrid.pug
  include /components/sections/contactHeading.pug
